apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ pts__kube_permissions_group }}-clusterrole
rules:
- apiGroups:
  - ""
  resources:
  - nodes
  - pods
  - pods/log
  verbs:
  - get
  - list
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - get
  - create
  - delete
  - watch
  - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ pts__kube_permissions_group }}-clusterrole-binding
subjects:
- kind: Group
  name: {{ pts__kube_permissions_group }}
  apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: ClusterRole
  name: {{ pts__kube_permissions_group }}-clusterrole
  apiGroup: rbac.authorization.k8s.io
